* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

.menu ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: center;
}

.menu a {
    display: block;
    padding: 1em;
    background-color: #F9B53C;
    text-decoration: none;
    color: #191C26;
}

.menu a:hover {
    background-color: #CC673B;
}

.menu ul ul {
    display: none;
}

 .menu ul li:hover ul{
    display: block;
}